ion-view( title="Settings" )
  ion-content.has-header.padding
    ion-list
      ion-item.item-divider
        | Consumes

      ion-item
        | Webpages

      ion-item.item-divider
        | Produces

      ion-item
        | Notifications
