//-
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
ion-tabs.tabs-icon-top

  ion-tab( title="Dashboard", icon="icon ion-home", href="#/tabs" )
    ion-nav-view( name="tab-dash" )

  ion-tab( title="Friends", icon="icon ion-heart", href="#/tabs/friends" )
    ion-nav-view( name="tab-friends" )

  ion-tab( title="Account", icon="icon ion-gear-b", href="#/tabs/settings" )
    ion-nav-view( name="tab-settings" )
